{% load staticfiles %}
<div class="col-md-9 column">
    <div class="row">
      <div class="col-xs-6 col-md-4" ng-repeat="video in videoLists">
        <a ng-href="/#/[[ video.av_id ]]" class="thumbnail">
            <img src="{% static '1150980500.jpg' %}" alt="...">
        </a>
        <div class="caption">
          <h4>
            [[ video.headline ]]
          </h4>
          <span>[[ video.createtime ]]</span>
          <span>[[ video.click_num ]]</span>
          <p>
             <a class="btn btn-primary" ng-href="/#/[[ video.av_id ]]">Action</a>
          </p>
        </div>
      </div>
    </div>
    <ul class="pagination pagination-sm">
        <li>
             <a href="#">Prev</a>
        </li>
        <li>
             <a href="#">1</a>
        </li>
        <li>
             <a href="#">2</a>
        </li>
        <li>
             <a href="#">3</a>
        </li>
        <li>
             <a href="#">4</a>
        </li>
        <li>
             <a href="#">5</a>
        </li>
        <li>
             <a href="#">Next</a>
        </li>
    </ul>
</div>